<%= form_with(model: [@test, @question], local: true) do |form| %>
  <%= render 'error', resource: @question %>

  <div>
    <%= form.label :body, 'Текст вопроса' %>
    <%= form.text_field :body, placeholder: 'Введите вопрос', class: 'form-control' %>
    <br>
    <%= form.submit  class: "actions btn btn-primary" %>
  </div>
<% end %>
