<p id="notice"><%= notice %></p>

<h1>Вопросы к тесту: <%= @test.title %></h1>
<%= render 'question', questions: @questions %>
<br>

<%= link_to 'Новый вопрос', new_test_question_path(@test) %> |
<%= link_to 'Вернуться к тесту', test_path(@test) %>
