<%= form_with url: sessions_path, local: true do |form| %>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email, placeholder: 'Email', class: 'form-control', id: :email %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password, placeholder: 'Пароль', class: 'form-control', id: :password %>
  </div>

  <div>
    <br>
    <%= form.submit 'Войти', class: 'actions btn btn-primary' %>
  </div>
<% end %>
