<%= form_for [:admin, @badge], local: true do |f| %>
  <%= render 'shared/error', resource: @badge %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :image_url %>
    <%= f.select :image_url, @images, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :rule_name %>
    <%= f.select :rule_name, @rules %>
  </div>

<!--  <div class="form-group">-->
    <%#= f.label :rule_params %>
    <%#= f.select :rule_params, :class => 'form-control' %>
<!--  </div>-->

  <div class="form-group">
    <%= f.label :rule_params, "Напишите: Название Категории/или  Уровень/или  Кол-во попаток  " %>
    <%= f.text_field :rule_params, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>

<% end %>

<!--TODO-->
<!--Список доступных категорий-->
<% Category.all.each do |item| %>
  <%= item.title %> <br>
<% end %>
<!--TODO-->
<!--Список доступных уровней-->
<% Test.distinct.pluck(:level).each do |item| %>
  <%= item %> <br>
<% end %>
