<%- model_class = Badge -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @badge.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image_url) %>:</strong></dt>
  <dd><%= @badge.image_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rule_name) %>:</strong></dt>
  <dd><%= @badge.rule_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rule_params) %>:</strong></dt>
  <dd><%= @badge.rule_params %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
            admin_badges_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_badge_path(@badge), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            admin_badge_path(@badge),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
