<div class="jumbotron">
  <h1> <%= t('.header', title: @test_passage.test.title) %> </h1>
  <% if @test_passage.success? %>
    <h2>
      <%= t('.pass_test', percent: content_tag(:span, @test_passage.correct_answers_in_percent, class: "text-success")).html_safe %>
    </h2>
  <% else %>
    <h2>
      <%= t('.lose_test', percent: content_tag(:span, @test_passage.correct_answers_in_percent, class: "text-danger")).html_safe %>
    </h2>
  <% end %>
</div>

<% if @test_passage.badges.any? %>
  <h2> <%= t('.badges') %>: </h2>
  <%= render 'badges/badge', badges: @test_passage.badges %>
<% end %>
