<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'ТестGuru', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if current_user %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to t('.tests'), tests_path, class: 'nav-link' %>
        </li>
      <li class="nav-item active">
        <%= link_to t('.badges'), badges_path, class: 'nav-link' %>
      </li>
      </ul>
      <% if current_user.admin? %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to t('.admin_tests'), admin_tests_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to t('.admin_badges'), admin_badges_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to t('.gists'), admin_gists_path, class: 'nav-link' %>
          </li>
        </ul>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <span class="navbar-text"> <b> <%= t('.admin_panel', first_name: current_user.first_name, last_name: current_user.last_name) %>  </b></span>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <%= link_to t('.welcome', user: current_user.email), root_path, class: 'nav-link' %>
          </li>
        </ul>
      <% end %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <% if I18n.locale != I18n.default_locale %>
            <%= link_to "Ru", { :lang => 'ru' }, class: 'btn btn-sm btn-warning' %>
          <% else %>
            <%= link_to "En", { :lang => 'en' }, class: 'btn btn-sm btn-warning' %>
          <% end %>
        </li>
        <li class="nav-item ">
          <%= link_to t('.log_out'), destroy_user_session_path, method: :delete, class: 'ml-2 btn btn-sm btn-danger' %>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <%= link_to t('.log_in'), new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="nav-item active">
          <%= link_to t('.sign_up'), new_user_registration_path, class: 'nav-link' %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>

