<%= form_with(model: [:admin, @test], local: true) do |form| %>
  <%= render 'shared/error', resource: @test %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <div>
    <%= form.label :level %>
    <%= form.number_field :level, placeholder: 'От 0 до 10', class: 'form-control' %>
  </div>
  <div>
    <%= form.label :timer %>
    <%= form.number_field :timer, placeholder: 'Время на проходжение в минутах', class: 'form-control' %>
  </div>
  <div>
    <br>
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.order(:title), :id, :title %>
  </div>
  <div>
    <br>
    <%= form.submit class: "actions btn btn-primary" %>
  </div>
<% end %>
