<tr>
  <td><%= test.id %></td>
  <td><%= test.title %></td>
  <td><%= test.level %></td>
  <td><%= test.category.title %></td>
  <td><%= "Кол-во вопросов: #{test.questions.count}" %></td>
  <td><%= button_to "Начать", start_test_path(test), class: 'btn btn-sm btn-success' %></td>
</tr>
