<h1 class="text-center"> <%= t('tests.index.header') %> </h1>

<table class="table">
  <thead class="bg-primary text-light">
  <tr>
    <th scope="col">#</th>
    <th scope="col" class="sort_by_title pointer">
      <%= t('activerecord.attributes.test.title') %>
      <%= octicon 'arrow-up', class: 'text_success hide' %>
      <%= octicon 'arrow-down', class: 'text_success hide' %>
    </th>
    <th scope="col"><%= t('activerecord.attributes.test.level') %></th>
    <th scope="col"><%= t('activerecord.attributes.test.category_id') %></th>
    <th scope="col"><%= t('activerecord.attributes.test.timer') %>   <small> (<%= t('activerecord.attributes.test.minute') %>)</small> </th>
    <th scope="col"><%= t('helpers.table_col.questions') %></th>
    <th scope="col"><%= t('helpers.buttons.start') %></th>
  </tr>
  </thead>
  <tbody>
  <%= render @tests %>
  </tbody>
</table>
