<p id="notice"><%= notice %></p>
<h3>Тест: <%= @test.title %></h3>
<h4>Уровень: <%= @test.level %></h4>
<h4>Автор: <%= @test.author.name %></h4>
<%= render 'questions/question', questions: @questions %>

<%= link_to 'Новый вопрос', new_test_question_path(@test) %> |
<%= link_to 'Назад', tests_path %>
